body {
    background-color: #E6E6E6;
}
.mainWrapper {
        font-family: 'Roboto' , sans-serif;
	font-weight: 300;
}

.footWrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
}

.footImage {
    opacity: 0.6;
}

.bottomLine {
    width: 10px;
    height: 10px;
    background-color: #970435;
    margin: 0 auto;
    transform: rotate(45deg) translateY(-5px);
    visibility: hidden;
}

.logoImage {
    height: 24px;
    max-width: 24px;
    position: absolute;
    left: 20px;
    top: 14px;
}
.navImage {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    opacity: 0.6;
    z-index: -1;
}
.navBarWrapper {
    box-shadow: 0px 1px 0px 0px lightgray;
/*
    border-bottom-style: solid;
    border-bottom-color: #970438;
    border-bottom-width: 1px;
*/
}
.navWrapper { 
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100px;
    z-index: 1;
    /*background-color: #FFFFFF;*/
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.85);
}

.navItem {
    display: block;
    float:left;
    height: 52px;
}


.navLink {
    display: block;
    max-width: 90px;
    padding: 15px;
    color: gray;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.navLink:hover {
    color: #970435;
}

.contentWrapper { 
    width: 85%;
    height: 100%;
    max-width: 1024px;
    top: 60px;
    right: 0px;
    left: 0px;
    position: absolute;
    margin: 0 auto;
    z-index: -1;
    color: DimGray;
	padding-top: 10px;
}

.contentTitle {
    color: #970435;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: hidden;
}

.contentMain {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: black;
}


.hidden {
	visibility: hidden;
}

.purple {
    color: #970435;
}
